body {
    background: #e9fcfc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310;
    padding: 0 50px;
    text-align: center;
    box-sizing: border-box;
    transition: all .3s ease.3s;
}
.center button {
    position: relative;
    width: 100%;
    border: none;
    padding: 5px 0;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    background: linear-gradient(#31349b, #373bae, #3d42c2);
    transition: .5s;
}
button:hover {
    background: linear-gradient(#3d42c2, #373bae, #31349b);
}
button p{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px;
}
.center.active {
    padding: 0;
}
.center.active button {
    background: #d9d9d9;
    margin-top: 0;
}
.center.active button p {
    display: none;
}
.center.active button.loading {
    width: 100%;
    transition: all 2.7s ease .6s;
}
.center.active button.success.fa {
    transform: scale(1);
    transition: transform .2s linear .3s;
}